.user-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  h2 {
    color: #006fff;
  }

  img {
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #00ff77;
    margin: 10px auto;
  }

  p {
    margin: 5px auto;

    &.italic {
      font-style: italic;
    }

  }

  span {
    color: #ec0303;
  }

  ul {
    color: #04a7ff;

    li {
      color: #ffea04;
      background: #002aff;
      padding: 5px;
      border: 5px solid #00ff77;
      border-radius: 15px;
      list-style: square;
      margin: 5px auto;
      text-align: center;
    }
  }
}
