.filtred-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .filtred-recipes-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px auto;
    height: auto;
  }

}