.recipe-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;

  img {
    width: 300px;
  }

  .recipe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      width: 150px;
      height: auto;
      text-align: center;
    }

    ul {
      color: #ff0000;
      text-align: center;

      li {
        margin: 5px;

        button {
          padding: 5px;
          border: 2px solid #00ffbb;
          border-radius: 10px;
          background: #9e00fa;
        }
      }
    }

    .info {
      padding: 5px;
      border: 2px solid #ff0000;
      border-radius: 10px;
      background: #21fa00;
    }
  }
}